<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.hbm2ddl.auto">create</property>
    <property name="hibernate.dialect">org.hibernate.dialect.SQLServer2012Dialect</property>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://INVENTRAX3:1433;databaseName=TestHibernate</property>
    <property name="hibernate.connection.username">dbadmin</property>
    <property name="hibernate.connection.password">inv123</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <!--    <mapping resource="resources/student.hbm.xml"/>
    <mapping resource="resources/employee.hbm.xml"/>
    
    <mapping resource="resources/cart.hbm.xml"/>
    <mapping resource="resources/items.hbm.xml"/>-->
    <mapping resource="resources/orders.hbm.xml"/>
    <mapping resource="resources/orderdetail.hbm.xml"/>
    <mapping resource="com/relations/PurchaseOrderDetail.hbm.xml"/>
    <mapping resource="com/relations/PurchaseOrderHeader.hbm.xml"/>
    <mapping resource="com/relations/Orders.hbm.xml"/>
    <mapping resource="com/relations/OrderDetail.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
